<h1>If you made a mistake on login info, fix it here!</h1><br>


<form action="/users/<%=@user.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label>Edit your name:</label>
    <input id="name" type="text" name="user[name]" value=<%= @user.name%>><br>
    <label>Edit your username:</label>
    <input id="username" type="text" name="user[username]" value=<%= @user.username%>><br>
    <input type="submit">
</form>

