<h1>Welcome, <%=@user.name%>! </h1>
<p>Below are some links to add or view certain things, click the one you need to use!</p>

<%=@user.name%>

<%# links to add a workout, edit, delete etc.%>
<%if @user.id == current_user.id%>
<label>to add a new workout, click here:</label>
<a href="/workouts/new"><button>Add Workout!</button></a><br>
<label>To view all workouts, click here:</label>
<a href="/workouts"><button>Workout Library:</button></a><br>
<label>To delete your account, click the delete button below.</label>
<form action="/users/<%= @user.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
<%end%>


 