<h1>Welcome to The Health Club! Please sign up or Login if you're already a member!</h1>

<form method="POST" action="/signup">
<label>Please enter your name:</label>
<input type="text" name="name" placeholder="Name"><br>
<label>Please enter your email address:</label>
<input type="text" name="email" placeholder="Email Address"><br>
<label>Enter your desired Username:</label>
<input type="text" name="username" placeholder="Username"><br>
<label>Enter your desired password</label>
<input type="password" name="password" placeholder="Password"><br>
<input type="submit" value="Submit">
</form>